<header class="navbar">
  <div class="navbar-container">
    <div class="logo">
      <img src="assets/logo-kodium.png" alt="Logo création de site web Lyon" class="logo-img" />
      <a routerLink="/" class="logo-link">Kodium.</a>
    </div>

    <div class="nav-actions">

      <a (click)="scrollToServices()" class="nav-link">
        {{ translations[currentLang].services }}
      </a>

      <a routerLink="/tarifs" class="nav-link">
        {{ translations[currentLang].tarifs }}
      </a>

      <a routerLink="/blog" class="nav-link">
        {{ translations[currentLang].blog }}
      </a>

      <div class="language-switcher" (click)="toggleLangMenu()" [class.open]="langMenuOpen">
        <i class="fa-solid fa-globe"></i>

        <div class="lang-dropdown" *ngIf="langMenuOpen">
          <div (click)="switchLang('fr')">
            <img src="assets/fr.png" class="flag-icon" alt="FR" /> FR
          </div>
          <div (click)="switchLang('en')">
            <img src="assets/uk.png" class="flag-icon" alt="EN" /> ENG
          </div>
        </div>
      </div>

      <button class="contact-btn" routerLink="/contact">
        {{ translations[currentLang].contact }}
        <span class="arrow-icon">→</span>
      </button>
    </div>

    <div class="burger" (click)="toggleMenu()" [class.open]="menuOpen">
      <span></span><span></span><span></span>
    </div>
  </div>

  <nav class="mobile-menu" [class.show]="menuOpen">
    <a routerLink="/"><i class="fa-solid fa-house"></i> {{ currentLang === 'fr' ? 'Accueil' : 'Home' }}</a>
    <a routerLink="/blog"><i class="fa-solid fa-newspaper"></i> {{ currentLang === 'fr' ? 'Blog' : 'Blog' }}</a>
    <a (click)="scrollToServices()"><i class="fa-solid fa-bell-concierge"></i> {{ translations[currentLang].services }}</a>
    <a routerLink="/tarifs"><i class="fa-solid fa-sack-dollar"></i> {{ currentLang === 'fr' ? 'Tarifs' : 'Pricing' }}</a>
    <a routerLink="/contact"><i class="fa-solid fa-paper-plane"></i> {{ translations[currentLang].contact }}</a>
    <a routerLink="/mentions-legales"><i class="fa-solid fa-file-shield"></i> {{ currentLang === 'fr' ? 'Mentions légales' : 'Legal Notice' }}</a>
  </nav>
</header>

