<section class="services" data-aos="fade-up">
    <h2>{{ title }}</h2>
  
    <div class="cards-container">
        <div
        class="card"
        *ngFor="let service of services; let i = index"
        [class.animate-border]="hoveredIndex === i"
        (mouseenter)="hoveredIndex = i"
        (click)="service.title === 'APPS WEB & MOBILE' ? scrollToAppsWebMobile() : null"
        data-aos="fade-up"
        [attr.data-aos-delay]="i * 100"
      >
        <i class="{{ service.icon }} gradient-icon"></i>
        <h3>{{ service.title }}</h3>
        <p class="description">{{ service.description }}</p>
        <a href="#" class="learn-more">
          → 
        </a>
      </div>
    </div>
  
    <button class="cta-button">→ En savoir plus</button>
  </section>