.services {
    padding: 100px 20px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .services h2 {
    font-size: 1.8rem;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .gradient-icon {
    font-size: 3rem;
    background: linear-gradient(90deg, #b527e0, #383b9e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }

  .description {
    text-align: left;
    margin: 10px;
    margin-top: 30px;
    opacity: 0.85;
    line-height: 1.6;
  }
  
  .cards-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .card {
    background-color: #1a1a1a;
    border-radius: 14px;
    padding: 30px 20px;
    width: 300px;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
  
  .card::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    padding: 2px;
    box-sizing: border-box;
    pointer-events: none;
    background: none;
    z-index: 1;
  }
  
  .card.animate-border::before {
    animation: drawBorder 0.8s forwards;
    background: linear-gradient(90deg, #9927e0, #383b9e);
    mask: 
      linear-gradient(#000 0 0) content-box, 
      linear-gradient(#000 0 0);
    -webkit-mask:
      linear-gradient(#000 0 0) content-box, 
      linear-gradient(#000 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    border-radius: 14px;
  }
  
  @keyframes drawBorder {
    0% {
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
    25% {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    50% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
    }
    75% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card i {
    font-size: 2.2rem;
    margin-bottom: 16px;
    color: white;
  }
  
  .card h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .card p {
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 15px;
  }
  
  .learn-more {
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    margin-top: 10px;
  }
  
  .cta-button {
    margin-top: 60px;
    background: white;
    color: black;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .cta-button:hover {
    background: #eaeaea;
  }